@{
    ViewData["Title"] = "Home";
}

@model SaleViewModel

<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Search for over 12 000 lots in over 120 auctions accros the entire Europe!</p>
</div>

<hr />

<div class="row">
    <div class="col-md-12" align="center">
        <h1>Current sales across Europe</h1>
    </div>
</div>

<hr />

@foreach (var sale in Model.ActiveSales)
{
    <div class="row">
        <div class="col-md-12" align="center">
            <div class="row">
                <div class="col-md-4">
                    <h4>End date</h4>
                    <h3>@sale.EndDate.ToShortTimeString()</h3>
                    <h4>@sale.EndDate.ToShortDateString()</h4>
                </div>
                <div class="col-md-4">
                    <br />
                    <a asp-action="List" asp-controller="Lot" asp-route-saleid="@sale.Id" asp-route-countrycode="@sale.Location.Country.Code"><img class="img-fluid" src="~/images/sale_logo.png" /></a>
                    <a asp-action="List" asp-controller="Lot" asp-route-saleid="@sale.Id" asp-route-countrycode="@sale.Location.Country.Code"><h3 class="text-info">@sale.Name</h3></a>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <span class="badge badge-primary">@sale.SaleType</span>
                    <span class="badge badge-secondary">@sale.Location.City</span>
                    <span class="flag-icon flag-icon-@sale.Location.Country.Code"></span>
                    <h3>@sale.NumberOfLots lots</h3>
                </div>
            </div>
        </div>
    </div>

    <hr />
}
