@{
    ViewData["Title"] = "Home";
}

@model SaleViewModel

<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
        <p>Search for over 12 000 lots in over 120 auctions accros the entire Europe!</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" align="center">
        <h1>Current sales across Europe</h1>
    </div>
</div>

<hr />

@foreach (var sale in Model.ActiveSales)
{
    <div class="row">
        <div class="col-md-12" align="center">
            <div class="row">
                <div class="col-md-4">
                    <h4>End date</h4>
                    <h3>@sale.EndDate.ToShortTimeString()</h3>
                    <h4>@sale.EndDate.ToShortDateString()</h4>
                </div>
                <div class="col-md-4">
                    <br />
                    <a asp-action="Search" asp-controller="Lot" asp-route-saleid="@sale.Id"><img src="~/images/sale_logo.png" /></a>
                    <a asp-action="Search" asp-controller="Lot" asp-route-saleid="@sale.Id"><h3 class="text-info">@sale.Name</h3></a>
                </div>
                <div class="col-md-4">
                    <span class="label label-info">@sale.SaleType</span>
                    <span class="label label-default">@sale.Location.City</span>
                    <h3><span class="flag-icon flag-icon-@sale.Location.Country.Code"></span></h3>
                    <h3>@sale.NumberOfLots lots</h3>
                </div>
            </div>
        </div>
    </div>

    <hr />
}
