@{
    ViewData["Title"] = "Details";
}

@model LotDetailsViewModel

<br />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>@Model.Lot.Vehicle.Make @Model.Lot.Vehicle.Model @Model.Lot.Vehicle.EngineCapacity @Model.Lot.Vehicle.EngineType @Model.Lot.Vehicle.TransmissionType @Model.Lot.Vehicle.FuelType</h3>
                <h4>@Model.Lot.Vehicle.EnginePower, @Model.Lot.Vehicle.Mileage.ToString("N0") km, @Model.Lot.Vehicle.FirstRegistrationDate.Year</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <a href="#" class="thumbnail">
            <img src="@Model.Lot.Vehicle.ImageUrl/310">
        </a>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Bidding Panel</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-sm-offset-1">Current bid:</label>
                        <label class="col-sm-4 col-sm-offset-1 text-primary text-right">@Math.Floor(Model.Lot.CurrentPrice) €</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-sm-offset-1">Your bid:</label>
                        <div class="col-sm-4 col-sm-offset-1">
                            <input type="text" class="form-control text-right" value="@Math.Floor(Model.Lot.NextBidAmount)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-1"></div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <button type="submit" class="btn btn-primary btn-lg pull-right">Bid</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-sm-offset-1">Location:</label>
                        <label class="col-sm-6 text-info">@Model.Lot.Sale.Location.StreetAddress, @Model.Lot.Sale.Location.City, @Model.Lot.Sale.Location.Country.Name, @Model.Lot.Sale.Location.PostalCode</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Key information</div>
            <table class="table-condensed">
                <tr>
                    <td>VIN Number</td>
                    <td>@Model.Lot.Vehicle.VIN</td>
                </tr>
                <tr>
                    <td>First Registration Date</td>
                    <td>@Model.Lot.Vehicle.FirstRegistrationDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td>Fuel Type</td>
                    <td>@Model.Lot.Vehicle.FuelType</td>
                </tr>
                <tr>
                    <td>Engine Size</td>
                    <td>@Model.Lot.Vehicle.EngineCapacity</td>
                </tr>
                <tr>
                    <td>Number of Seats</td>
                    <td>@Model.Lot.Vehicle.NumberOfDoors</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>@Model.Lot.Vehicle.Color</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Interior</div>
            <table class="table-condensed">
                @{
                    var interiorItems = Model.Lot.Vehicle.EquipmentInterior.Split('|');
                    foreach (var interiorItem in interiorItems)
                    {
                        <tr>
                            <td>@interiorItem</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Infotainment</div>
            <table class="table-condensed">
                @{
                    var InfotainmentItems = Model.Lot.Vehicle.EquipmentInfotainment.Split('|');
                    foreach (var InfotainmentItem in InfotainmentItems)
                    {
                        <tr>
                            <td>@InfotainmentItem</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Engine & Technology</div>
            <table class="table-condensed">
                @{
                    var engineItems = Model.Lot.Vehicle.EquipmentEngineTechnology.Split('|');
                    foreach (var engineItem in engineItems)
                    {
                        <tr>
                            <td>@engineItem</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Exterior</div>
            <table class="table-condensed">
                @{
                    var exteriorItems = Model.Lot.Vehicle.EquipmentExterior.Split('|');
                    foreach (var exteriorItem in exteriorItems)
                    {
                        <tr>
                            <td>@exteriorItem</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Additional Information</div>
            <table class="table-condensed">
                <tr>
                    <td>Vehicle Source</td>
                    <td>@Model.Lot.Vehicle.VehicleSource</td>
                </tr>
                <tr>
                    <td>Current Country of Registration</td>
                    <td>@Model.Lot.Vehicle.CurrentCountryOfRegistration</td>
                </tr>
                <tr>
                    <td>Service History</td>
                    <td>@Model.Lot.Vehicle.HasServiceHistory</td>
                </tr>
                <tr>
                    <td>Accident Damage</td>
                    <td>@Model.Lot.Vehicle.HasAccidentDamage</td>
                </tr>
                <tr>
                    <td>Second key available</td>
                    <td>@Model.Lot.Vehicle.HasSecondKeyAvailable</td>
                </tr>
            </table>
        </div>
    </div>
</div>