@{
    ViewData["Title"] = "Details";
}

@model LotDetailsViewModel

@section styles {
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
}

<br />

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h3>@Model.Lot.Vehicle.Make @Model.Lot.Vehicle.Model @Model.Lot.Vehicle.EngineCapacity @Model.Lot.Vehicle.EngineType @Model.Lot.Vehicle.TransmissionType @Model.Lot.Vehicle.FuelType</h3>
                <h4>@Model.Lot.Vehicle.EnginePower, @Model.Lot.Vehicle.Mileage.ToString("N0") km, @Model.Lot.Vehicle.FirstRegistrationDate.Year</h4>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <div class="card-body">
                <a href="#" class="thumbnail">
                    <img class="img-fluid rounded" src="@Model.Lot.Vehicle.ImageUrl/310">
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center text-primary font-weight-bold">Bidding Panel</div>
            <div class="card-body">
                <form asp-controller="Lot" asp-action="Bid" data-ajax="true" data-ajax-method="POST">
                    <input type="hidden" asp-for="Lot.Id" />
                    <input type="hidden" asp-for="Lot.Sale.Id" />
                    <input type="hidden" asp-for="CountryCode" />
                    <div class="form-row">
                        <div class="col-6">
                            <label>Current price:</label>
                        </div>
                        <div class="col">
                            <input asp-for="Lot.CurrentPrice" type="text" readonly class="form-control-plaintext text-primary text-right" value="@Math.Floor(Model.Lot.CurrentPrice) €">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-7">
                            <label>Next bid:</label>
                        </div>
                        <div class="col">
                            <input asp-for="Lot.NextBidAmount" type="text" class="form-control text-right" value="@Math.Floor(Model.Lot.NextBidAmount)" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button id="place-bid-button" type="submit" class="btn btn-primary btn-lg">Bid</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-3">
                            <label>Location:</label>
                        </div>
                        <div class="col">
                            <label class="text-info">@Model.Lot.Sale.Location.StreetAddress, @Model.Lot.Sale.Location.City, @Model.Lot.Sale.Location.Country.Name, @Model.Lot.Sale.Location.PostalCode</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <!-- Default panel contents -->
            <div class="card-header text-center font-weight-bold">Key information</div>
            <table class="table table-borderless">
                <tr>
                    <td>VIN Number</td>
                    <td>@Model.Lot.Vehicle.VIN</td>
                </tr>
                <tr>
                    <td>First Registration Date</td>
                    <td>@Model.Lot.Vehicle.FirstRegistrationDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td>Fuel Type</td>
                    <td>@Model.Lot.Vehicle.FuelType</td>
                </tr>
                <tr>
                    <td>Engine Size</td>
                    <td>@Model.Lot.Vehicle.EngineCapacity</td>
                </tr>
                <tr>
                    <td>Number of Seats</td>
                    <td>@Model.Lot.Vehicle.NumberOfDoors</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>@Model.Lot.Vehicle.Color</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <!-- Default panel contents -->
            <div class="card-header text-center font-weight-bold">Interior</div>
            <table class="table table-borderless">
                @{
                    var interiorItems = Model.Lot.Vehicle.EquipmentInterior.Split('|');
                    foreach (var interiorItem in interiorItems)
                    {
                        <tr>
                            <td>@interiorItem</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <!-- Default panel contents -->
            <div class="card-header text-center font-weight-bold">Infotainment</div>
            <table class="table table-borderless">
                @{
                    var InfotainmentItems = Model.Lot.Vehicle.EquipmentInfotainment.Split('|');
                    foreach (var InfotainmentItem in InfotainmentItems)
                    {
                        <tr>
                            <td>@InfotainmentItem</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <!-- Default panel contents -->
            <div class="card-header text-center font-weight-bold">Engine & Technology</div>
            <table class="table table-borderless">
                @{
                    var engineItems = Model.Lot.Vehicle.EquipmentEngineTechnology.Split('|');
                    foreach (var engineItem in engineItems)
                    {
                        <tr>
                            <td>@engineItem</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <!-- Default panel contents -->
            <div class="card-header text-center font-weight-bold">Exterior</div>
            <table class="table table-borderless">
                @{
                    var exteriorItems = Model.Lot.Vehicle.EquipmentExterior.Split('|');
                    foreach (var exteriorItem in exteriorItems)
                    {
                        <tr>
                            <td>@exteriorItem</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <!-- Default panel contents -->
            <div class="card-header text-center font-weight-bold">Additional Information</div>
            <table class="table table-borderless">
                <tr>
                    <td>Vehicle Source</td>
                    <td>@Model.Lot.Vehicle.VehicleSource</td>
                </tr>
                <tr>
                    <td>Current Country of Registration</td>
                    <td>@Model.Lot.Vehicle.CurrentCountryOfRegistration</td>
                </tr>
                <tr>
                    <td>Service History</td>
                    <td>@Model.Lot.Vehicle.HasServiceHistory</td>
                </tr>
                <tr>
                    <td>Accident Damage</td>
                    <td>@Model.Lot.Vehicle.HasAccidentDamage</td>
                </tr>
                <tr>
                    <td>Second key available</td>
                    <td>@Model.Lot.Vehicle.HasSecondKeyAvailable</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<hr />

@section scripts {
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/bidding.js" asp-append-version="true"></script>
}