@{
    ViewData["Title"] = "Search";
}

@model LotSearchViewModel

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Search for vehicles" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <h2>Returned @Model.Lots.Count() results</h2>
    </div>
</div>

<hr />

@foreach (var lot in Model.Lots)
{
    <div class="row">
        <div class="col-md-12" align="center">
            <div class="row">
                <div class="col-md-3">
                    <a asp-action="Details" asp-controller="Lot" asp-route-lotid="@lot.Id">
                        <img src="@lot.Vehicle.ImageUrl/100" class="img-thumbnail img-fluid">
                    </a>
                </div>
                <div class="col-md-3">
                    <a asp-action="Details" asp-controller="Lot" asp-route-lotid="@lot.Id" asp-route-saleId="@Model.SaleId">
                        <h3 class="text-info">@lot.Vehicle.Make @lot.Vehicle.Model @lot.Vehicle.EngineCapacity @lot.Vehicle.EngineType - @lot.Vehicle.FirstRegistrationDate.Year</h3>
                    </a>
                    
                </div>
                <div class="col-md-3">
                    <h5>@lot.Vehicle.Mileage.ToString("N0") KM</h5>
                    <h5>@lot.Vehicle.FirstRegistrationDate.ToShortDateString()</h5>
                    <h5>@lot.Vehicle.NumberOfDoors doors</h5>
                </div>
                <div class="col-md-3">
                    <h5>@lot.Vehicle.TransmissionType</h5>
                    <h5>@lot.Vehicle.FuelType</h5>
                    <h5>97 KW / 130 HP</h5>
                </div>
            </div>
        </div>
    </div>

    <hr />
}